* {
  border: none; }

.colorbg {
  background-color: #0b0130 !important; }

.logo {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px; }

header {
  width: 100%;
  height: 85px;
  background-color: #0b0130 !important; }
  header .p1 {
    margin-left: 600px;
    margin-top: -25px; }
  header .p2 {
    margin-left: 700px;
    margin-top: -40px; }
  header .p3 {
    margin-left: 800px;
    margin-top: -40px; }
  header .p4 {
    margin-left: 900px;
    margin-top: -40px; }
  header .p5 {
    margin-left: 1000px;
    margin-top: -40px; }
  header .p6 {
    margin-left: 1200px;
    margin-top: -40px; }
  header .h2 {
    margin-top: -50px;
    margin-left: 1250px; }
  header .card6 {
    width: 340px;
    height: 150px;
    border: 2px solid red;
    margin-left: 200px;
    margin-top: 300px; }

.b {
  background-color: #010032; }

.color {
  width: 100%;
  height: 770px;
  background-color: #010032; }
  .color .card {
    width: 320px;
    height: 150px;
    background-color: #010032;
    margin-top: 150px;
    margin-left: -170px;
    position: absolute; }
  .color .col-6 img {
    margin-left: 90px; }
  .color .btn1 {
    width: 170px;
    height: 60px;
    border-radius: 50px;
    margin-top: -700px;
    background: white; }
  .color .card2 img {
    margin-top: -400px; }
  .color .card2 p {
    margin-top: -240px;
    margin-left: 100px; }
  .color .p1 {
    margin-top: 250px; }

.img {
  margin-top: 250px;
  margin-left: 200px; }

.col-3 img {
  margin-top: 450px;
  margin-left: -70px; }

.col-3 {
  margin-left: -110px; }
  .col-3 .img2 {
    margin-top: 0;
    margin-left: 10px; }

.a1 {
  margin-left: 100px;
  margin-top: -60px; }

.a2 {
  margin-left: 100px;
  margin-top: -15px; }

.card1 {
  width: 650px;
  height: 100px;
  margin-top: -440px;
  margin-left: 700px; }

.div {
  width: 800px;
  height: 250px;
  margin-left: 700px;
  margin-top: 100px;
  color: #4543E8; }
  .div .ab1 {
    margin-left: 200px;
    margin-top: -95px; }
  .div .ab2 {
    margin-left: 200px; }
  .div .ab3 {
    margin-left: 400px;
    margin-top: -95px; }
  .div .ab4 {
    margin-left: 400px; }
  .div .png {
    margin-top: 100px; }
  .div .png2 {
    margin-left: 30px;
    margin-top: 100px; }
  .div .png1 {
    margin-left: 40px;
    margin-top: 100px; }
  .div .assa {
    margin-left: 50px;
    margin-top: 100px; }

.vector {
  margin-top: 300px; }

.yozuv {
  margin-top: 290px; }

.div1 {
  width: 520px;
  height: 100px;
  margin-top: 380px;
  margin-left: -160px; }

.col-5 img {
  margin-top: 550px;
  margin-left: -550px; }

.h4 {
  margin-left: -550px; }

.image {
  margin-top: -580px !important;
  margin-left: 430px !important; }

.text {
  width: 400px;
  height: 50px;
  margin-left: -550px; }

.col-7 img {
  margin-left: 600px;
  margin-top: -550px; }

.zx {
  width: 350px;
  height: 30px;
  margin-left: 600px;
  margin-top: 20px; }

.imaga {
  margin-top: 250px;
  margin-left: 620px; }

.text1 {
  width: 350px;
  height: 50px;
  margin-top: -250px;
  margin-left: -20px; }

.imags {
  margin-left: 720px;
  margin-top: -30px; }

.rasm {
  margin-top: 300px; }

.abdu {
  margin-left: 600px;
  margin-top: -30px; }

.tt {
  margin-left: 700px;
  margin-top: -750px; }

.abdu1 {
  margin-left: 520px; }

.abdu3 {
  margin-top: -30px; }

.abdurahmon {
  width: 160px;
  height: 160px;
  margin-left: 700px;
  background-color: #005cbf; }

.card3 {
  width: 100%;
  height: 900px;
  background-color: #010032;
  margin-top: 100px; }

.card3 img {
  margin-left: 150px;
  margin-top: 150px; }

.ws {
  margin-left: 250px;
  margin-top: -20px; }

.ws1 {
  width: 300px;
  height: 170px;
  margin-left: 150px; }

.ws2 {
  margin-left: 120px; }

.ws3 {
  margin-left: 150px;
  margin-top: 50px; }

.ws4 {
  width: 230px;
  height: 80px;
  margin-left: 150px; }

.ws5 {
  width: 270px;
  height: 200px;
  margin-left: 650px;
  margin-top: -520px; }

.ws6 {
  margin-top: -1100px !important;
  margin-left: 650px !important; }

.ws7 {
  margin-left: 500px;
  margin-top: -100px; }

.ws8 {
  width: 220px;
  height: 180px;
  margin-left: 650px; }

.ws9 {
  margin-left: 900px;
  margin-top: -750px; }

.ws10 {
  width: 300px;
  height: 400px;
  margin-left: 1050px; }

.btn {
  width: 250px;
  height: 50px;
  border-radius: 40px;
  background-color: white;
  margin-top: 250px; }

.ws11 {
  margin-top: -50px; }

.tolqin {
  margin-top: -50px; }

.card5 {
  width: 100%;
  height: 900px;
  background-color: #D8D8EB;
  text-decoration: #005cbf; }
  .card5 .z1 {
    margin-left: 600px;
    margin-top: 100px; }
  .card5 .z2 {
    margin-top: -25px !important; }
  .card5 .z3 {
    margin-left: 850px;
    margin-top: -40px; }
  .card5 .z4 {
    width: 400px;
    height: 100px;
    text-align: center;
    margin-left: 570px; }
  .card5 .z5 {
    width: 576px;
    height: 360px;
    background-color: white;
    border-radius: 20px 20px 0 20px;
    position: absolute;
    margin-left: 140px;
    margin-top: 60px; }
    .card5 .z5 .z6 {
      width: 400px;
      height: 100px; }
    .card5 .z5 .z8 {
      margin-left: 140px;
      margin-top: -60px; }

.z9 {
  width: 576px;
  height: 360px;
  background-color: white;
  border-radius: 20px 20px 0 20px;
  position: absolute;
  margin-top: 60px;
  margin-left: 840px; }
  .z9 .z10 {
    margin-left: 140px;
    margin-top: -60px; }

.class {
  margin-top: 150px;
  margin-left: 100px; }
  .class .class1 {
    margin-left: 100px;
    margin-top: -20px; }
  .class .class2 {
    width: 400px;
    height: 100px; }
  .class .class3 {
    width: 350px;
    height: 90px;
    margin-left: 980px;
    margin-top: -70px; }
  .class .class4 {
    width: 400px;
    height: 200px;
    margin-top: 150px; }
  .class .class5 {
    margin-left: 230px;
    margin-top: -30px; }

.class6 {
  width: 400px;
  height: 150px;
  margin-left: 450px;
  margin-top: -200px; }

.class7 {
  margin-left: 230px;
  margin-top: -30px; }

.class8 {
  width: 330px;
  height: 200px;
  margin-left: 970px;
  margin-top: -150px; }

.lion {
  margin-top: 200px; }
  .lion .lion1 {
    margin-left: -150px;
    margin-top: -35px; }
  .lion .lion2 {
    margin-left: 150px;
    margin-top: -25px; }

.lion3 {
  width: 400px;
  height: 400px;
  margin-top: 100px;
  margin-left: 30px; }

.lion4 {
  width: 400px;
  height: 400px;
  margin-top: -400px;
  margin-left: 470px; }

.lion5 {
  width: 400px;
  height: 400px;
  margin-left: 900px;
  margin-top: -400px; }

.wolf {
  margin-top: 400px !important;
  margin-left: 100px; }

.wolf1 {
  margin-top: 390px; }

.wolf2 {
  width: 500px;
  height: 128px;
  margin-top: 420px;
  margin-left: -140px; }

.wolf3 {
  width: 274px;
  height: 65px;
  border-radius: 32px;
  background-color: blue;
  text-decoration: white;
  margin-left: 500px;
  margin-top: 450px !important; }

.wolf4 {
  width: 376px;
  height: 240px;
  margin-left: 100px;
  margin-top: 100px; }

.wolf5 {
  margin-left: 80px;
  margin-top: 90px;
  text-decoration: blue; }

.wolf6 {
  width: 500px;
  height: 56px; }

.wolf7 {
  margin-left: 200px;
  margin-top: 90px; }
  .wolf7 .wolf8 {
    width: 132px;
    height: 1px;
    margin-top: 10px;
    background-color: #D8D8EB; }

.wolf9 {
  width: 510px;
  height: 60px; }

.sheep {
  width: 755px;
  height: 400px;
  margin-top: 200px; }
  .sheep .sheep2 {
    margin-top: -300px !important; }

.sheep1 {
  width: 755px;
  height: 400px;
  background-color: blue !important;
  margin-left: 760px;
  margin-top: -400px;
  position: absolute; }
  .sheep1 .sheep3 {
    margin-top: 100px; }

.abduraxmon {
  width: 100%;
  height: 900px;
  background-color: #010032; }
  .abduraxmon .abduraxmon1 {
    margin-top: 100px !important;
    margin-left: 100px; }
  .abduraxmon .abduraxmon2 {
    margin-left: 100px;
    margin-top: -25px; }
  .abduraxmon .abduraxmon4 {
    margin-left: 550px;
    margin-top: -55px; }
  .abduraxmon .abduraxmon5 {
    margin-left: 900px;
    margin-top: -55px; }
  .abduraxmon .abduraxmon6 {
    margin-top: 250px;
    margin-left: 100px; }
  .abduraxmon .abduraxmon7 {
    margin-left: 400px;
    margin-top: -40px; }
  .abduraxmon .abduraxmon8 {
    margin-left: 700px;
    margin-top: -200px; }
  .abduraxmon .abduraxmon9 {
    margin-left: 950px;
    margin-top: -200px; }
  .abduraxmon .btn3 {
    width: 250px;
    height: 48px;
    border-radius: 240px;
    margin-top: -5px;
    margin-left: 950px;
    background-color: #010032;
    border: 2px solid blue; }
  .abduraxmon .btn4 {
    width: 180px;
    height: 48px;
    border-radius: 24px;
    margin-left: 1210px;
    margin-top: -70px;
    background-color: blue; }
  .abduraxmon .abduraxmon10 {
    width: 1280px;
    height: 1px;
    background-color: #013670;
    margin-left: 100px;
    margin-top: 200px; }
  .abduraxmon .abduraxmon11 {
    margin-left: 100px; }
  .abduraxmon .abduraxmon12 {
    margin-left: 230px;
    margin-top: -40px; }
  .abduraxmon .abduraxmon13 {
    margin-left: 330px;
    margin-top: -40px; }
  .abduraxmon .abduraxmon14 {
    margin-left: 430px;
    margin-top: -40px; }
  .abduraxmon .abduraxmon15 {
    margin-left: 900px;
    margin-top: -40px; }
  .abduraxmon .abduraxmon16 {
    margin-left: 1000px;
    margin-top: -40px; }
  .abduraxmon .abduraxmon17 {
    margin-left: 1100px;
    margin-top: -40px; }
  .abduraxmon .abduraxmon18 {
    margin-left: 1200px;
    margin-top: -40px; }

/*# sourceMappingURL=style.css.map */
